.filter-buttons {
  margin-bottom: 20px;
}

.filter-button {
  padding: 8px 16px;
  font-size: 17.3px;
  background-color: #001401;
  color: white;
  border: none;
  cursor: pointer;
}

.filter-button:not(:last-child) {
  margin-right: 10px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
}

.image-item {
  margin-bottom: 20px;
}

.image-item img {
  width: 100%;
}

.contenedor {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 60rem;
   top: 2rem;
  left: 7rem;
  bottom: 2rem;
  right: 2rem;
  display: none;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor img {
  width: 600px;
  height: auto;
}
