.filter-buttons {
  margin-bottom: 20px;
}

.filter-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.filter-button:not(:last-child) {
  margin-right: 10px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
}

.image-item {
  margin-bottom: 20px;
}

.image-item img {
  width: 100%;
}
